@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.Typewriter {
  display: inline-block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#visual path:nth-of-type(1),
#visual path:nth-of-type(3),
#visual path:nth-of-type(5) {
  animation: path-one 6s linear infinite;
}

#visual path:nth-of-type(2),
#visual path:nth-of-type(4),
#visual path:nth-of-type(6) {
  animation: path-two 6s linear infinite;
}

@keyframes path-one {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes path-two {
  0%,
  50%,
  100% {
    transform: translateY(4px);
  }
  25%,
  75% {
    transform: translateY(0px);
  }
}

.activeLink {
  animation: activeLink 0.2s linear;
}

@keyframes activeLink {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
