@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body{
  min-width: 250px;
}

.activeLink {
  animation: activeLink 0.2s linear;
}

.toX {
  transition: transform 0.3s linear;
}

.toX:nth-of-type(1) {
  transform: rotate(45deg) translateY(14px);
}

.toX:nth-of-type(2) {
  transform: translateX(1000px);
}

.toX:nth-of-type(3) {
  transform: rotate(-45deg) translateY(-14px);
}

.navHidden {
  transform: translateY(-100vh);
  transition: transform 0.3s linear;
}

.navVisible {
  transform: translateY(0);
  transition: transform 0.3s linear;
}



@keyframes activeLink {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}
